@import './variable'
#app
  background-color $color-background
  width: 100vw
  height 100vh
  overflow hidden
  position relative
.home-top
  position relative
  height 45px
  border-bottom 1px solid #2782d7
  background-color #2782d7
  color #ffffff
  font-size 18px
  letter-spacing 3px
  text-align center
  line-height 45px
  font-weight 600
.top-tip,.bottom-tip
  font-size: 12px
  color #999999
  text-align: center
  padding:4px
.time
  color #c9c9c9
  font-size: 12px
.btn
  padding: 6px
  text-align: center
  font-size: 12px
  color: #666
.stop
  color #ff6156
  font-size 22px
.arrow
  color #999
  font-size 26px
.back
  font-size: 26px
  position absolute
  top:0
  left: 0
.back-num
  font-size: 14px
  vertical-align: 25%
